@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #75934e;
  --black: #333333;
  --button-shadow: #666;
  --button-hover: #9d9974;
}

body {
  margin: 0;
  font-family: 'Kalam', cursive;
  color: #333333;
  background-image: url('./yoda2.jpg');
}

main {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
  border: 1px solid var(--black);
  border-radius: 10px;
  margin-top: 100px;
  background-color: #d5cfb6;
  height: 75vh;
  box-shadow: 2px 4px 4px 0px var(--button-shadow);
  margin-left: 35px;
}

.translate-heading {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 20vh;
  margin-top: 2rem;
  font-size: large;
  font-family: inherit;
}

#button-translate {
  text-align: center;
  margin-bottom: 1.25rem;
}

button {
  background-color: var(--primary-color);
  border: none;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  font-family: 'Kalam', cursive;
  font-size: large;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 4px 4px 0px var(--button-shadow);
}

button:hover {
  background-color: var(--button-hover);
  color: #3c3c20;
}

button:active {
  background-color: var(--button-hover);
  box-shadow: 2px 4px 4px 0px var(--button-shadow);
  transform: translateY(4px);
}

#translate-button {
  border-radius: 10px;
}

#translate-output {
  box-sizing: border-box;
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  border: 1px solid var(--black);
  padding: 1rem;
  font-size: large;
  background-color: white;
}
